<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header style="height:48px">
    click info
  </mat-expansion-panel-header>

  <div *ngIf="click" style="display: flex">
    <mat-form-field>
      <input matInput placeholder="Event Action" [value]="click.ea" [title]="click.ea" readonly>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput placeholder="Event Label" [value]="click.el || 'N/A'" [title]="click.el" readonly>
    </mat-form-field>
  </div>

  <div *ngIf="click" style="display: flex">
    <mat-form-field>
      <input matInput placeholder="Dimension 4" [value]="click.cd4" [title]="click.cd4" readonly>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput placeholder="Event Category" [value]="click.ec || 'N/A'" [title]="click.ec" readonly>
    </mat-form-field>
  </div>

  <div *ngIf="data" style="display: flex">
    <mat-form-field>
      <input matInput placeholder="users" [value]="users" readonly>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput placeholder="clicks" [value]="clicks" readonly>
    </mat-form-field>
  </div>
</mat-expansion-panel>
