<app-header>
  <mat-slider *ngIf="navigated" [formControl]="zoom" title="Zoom" min="0.5" max="1" step="0.1"
              style="margin-right: 20px"></mat-slider>
  <mat-slide-toggle *ngIf="navigated" [formControl]="capture">Inspect</mat-slide-toggle>
</app-header>
<main>
  <div class="wrapper">
    <iframe #frame [src]="url"></iframe>
  </div>
  <aside>
    <app-setup-instructions *ngIf="showSetup" [profile]="profile"></app-setup-instructions>


    <mat-expansion-panel *ngIf="!showSetup" expanded="false">
      <mat-expansion-panel-header>
        Dates
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput [matDatepicker]="startDatePicker" placeholder="start date" [formControl]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endDatePicker" placeholder="end date" [formControl]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </mat-expansion-panel>


    <app-navigation *ngIf="navigated" [data]="navigated" [events]="data"></app-navigation>


    <mat-card *ngIf="loading">
      <mat-card-title>Loading&hellip;</mat-card-title>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="data" style="padding: 0">
      <mat-tab-group>
        <mat-tab label="First">
          <div style="padding:24px">
            <app-first [data]="data" (highlight)="onHighlight($event)" (emulate)="onEmulate($event)"></app-first>
          </div>
        </mat-tab>
        <mat-tab label="Last">
          <div style="padding:24px">
            <app-last [data]="data" (highlight)="onHighlight($event)" (emulate)="onEmulate($event)"></app-last>
          </div>
        </mat-tab>
        <mat-tab label="Inspect">
          <div style="padding:24px">

            <div *ngIf="!click">
              <p>Turn of inspect mode and select something</p>
            </div>

            <app-prev *ngIf="click && data" [data]="data" [click]="click" (highlight)="onHighlight($event)"
                      (emulate)="onEmulate($event)"></app-prev>
            <app-click *ngIf="click" [click]="click"></app-click>
            <app-next *ngIf="click && data" [data]="data" [click]="click" (highlight)="onHighlight($event)"
                      (emulate)="onEmulate($event)"></app-next>

          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>


    <app-profile-card *ngIf="profile" [profile]="profile"></app-profile-card>
  </aside>
</main>
